@import "tailwindcss";
@import "@repo/theme/css";

@layer base {
  body {
    background-color: var(--color-surface-page);
    color: var(--color-text-primary);
    font-family: var(--font-sans);
  }
}
